@font-face {
    font-family: 'Archivo Black';
    src: url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
}

.text {
    -fx-font-family: "Roboto";
}


#title{
    -fx-text-fill: #277549;
    -fx-font-size: 30px;
    -fx-padding: 15;
    -fx-font-family: 'Archivo Black';
}

#underTitle{
    -fx-font-size: 20px;
    -fx-text-fill: #277549;   
}

.button{
    -fx-background-color:#2E8B57;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

.vbox {
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}